@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right bottom, #ff9933, #ffffff, #138808);
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: 10px;
  margin-bottom: 10px;
}
.blur-container {
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  padding: 10px;
  width: 80%;
  max-width: 1000px;
}
.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.navigation ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
}
.navigation ul li {
  font-size: 18px;
}
.navigation ul li a {
  text-decoration: none;
  color: #333;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.navigation ul li a:hover {
  background: linear-gradient(to bottom, rgba(255, 153, 51, 0.7), rgba(255, 255, 255, 0.7), rgba(19, 136, 8, 0.7));
}
.jai-hind {
  display: flex;
  align-items: center;
}
.jai-hind-image {
  width: 50px;
  height: 50px;
  border-radius: 40%;
  margin-right: 10px;
}
.jai-hind-text {
  font-size: 24px;
  font-weight: bold;
}
.image-container {
  position: relative;
  width: 100%;
}
.image-container img {
  width: 100%;
  height: 80vh;
  border-radius: 10px;
  transition: transform 0.3s ease;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}
.button-container {
  position: absolute;
  top: 50%;
  display: flex;
  justify-content: space-between;
  width: 100%;
  transform: translateY(-50%);
}
.button-container button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #18140d55;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.button-container button:hover {
  background-color: #13181cc7;
}
.button-container button:first-child {
  position: absolute;
  left: 0;
}
.button-container button:last-child {
  position: absolute;
  right: 0;
}
.marquee-behavior {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 18px;
  color: #393535;
  white-space: nowrap;
  overflow: hidden;
  margin-top: 20px;
}
.marquee-behavior::before {
  content: '';
  display: block;
  position: absolute;
  left: -100%;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(183, 100, 18, 0), #413b3ba8, rgba(18, 136, 7, 0));
  animation: marquee-gradient 5s linear infinite;
}
@keyframes marquee-gradient {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}
.life-in-army h2 {
  color: #333;
  font-size: 40px;
  margin-bottom: 20px;
  font-size: xx-large;
}
.life-in-army p {
  color: #333;
  font-size: 28px;
}
.cover {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.error-message {
  color: #ff0000;
  font-size: 14px;
  margin-top: 5px;
  text-align: center;
}
.error-msg {
  background-color: #f8d7da;
  color: #721c24;
  padding: 10px;
  border: 1px solid #f5c6cb;
  border-radius: 5px;
  margin-top: 10px;
  position: relative;
}
.error-msg {
  background-color: #f8d7da;
  color: #721c24;
  padding: 10px;
  border: 1px solid #f5c6cb;
  border-radius: 5px;
  margin-top: 10px;
  text-align: center;
}
.error-msg span {
  display: inline-block;
}
.error-msg .close-btn {
  background-color: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
}
.error-msg .close-btn:hover {
  text-decoration: underline;
}
.close-btn {
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
}
.close-btn:hover {
  text-decoration: underline;
}
.input-container {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
}
.input-container input {
  width: 100%;
  padding: 15px 15px 15px 45px;
  border: 2px solid #ccc;
  border-radius: 8px;
  font-size: 18px;
}
.input-container i {
  position: absolute;
  left: 15px;
  color: #555;
  font-size: 20px;
}
.login-container {
  width: 30%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #545454;
  border-radius: 5px;
  background: linear-gradient(90deg, rgba(245,245,245,1) 36%, rgba(187,186,186,1) 100%);
  border-radius: 10px;
  height:50%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 70%;
}
.login-form input {
  gap: 10px;
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.login-form button {
  width: 40%;
  margin: 10px auto;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: block;
}
.login-form button:hover {
  background-color: #0056b3;
}
.signup-link {
  margin-top: 10px;
  text-align: center;
}
.signup-link span {
  color: #333;
}
.signup-link a {
  color: #007bff;
  text-decoration: none;
  margin-left: 5px;
  opacity: 0.8;
}
.signup-link a:hover {
  opacity: 1;
}
.soldier {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  transform: translateY(0);
  transition: transform 0.3s ease;
}
.soldier:hover {
  transform: translateY(-5px);
}
.soldier h2 {
  width: 100%;
  height: auto;
  color: #fff;
  background: #17283a;
  padding: 15px;
  border-radius: 10px;
  margin-top: 20px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}
input {
  width: 60%;
  padding: 15px;
  margin-top: 10px;
  border: 2px solid #0052a5;
  border-radius: 8px;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
  font-size: 16px;
}
input:focus {
  border-color: #003366;
}
.b button , .soldier button {
  width: 30%;
  padding: 15px;
  background-color: #0052a5;
  color: #fff;
  font-size: larger;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}
.b button:hover, .soldier button {
  background-color: #003366;
}
.subcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.heading {
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  color: #333;
  text-align: center;
  margin-bottom: 30px;
}
.section {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  overflow: hidden;
}
.section img {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
}
.subHeading {
  background-color: #333;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  margin: 0;
}
.content {
  display: flex;
  flex-direction: row;
  padding: 20px;
}
.content p {
  font-size: 18px;
  line-height: 1.6;
  margin: 20px;
}
.cover {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-image: url('images/pexels-pixabay-163467.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.contact-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.con {
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  backdrop-filter: blur(10px);
}
.contact-form {
  display: flex;
  flex-direction: column;
}
.contact-form h2 {
  text-align: center;
  margin-bottom: 20px;
}
.contact-form label {
  display: block;
  margin-bottom: 5px;
}
.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.contact-form textarea {
  height: 150px;
}
.contact-form button {
  width: 100%;
  max-width: 200px;
  margin: 0 auto;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.contact-form button:hover {
  background-color: #0056b3;
}
@media screen and (max-width: 768px) {
  .con {
    padding: 10px;
  }
}
